.master{
    background:url("../../storage/background/cool-background.png");
    background-size: cover;
}


.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 22%;
  }

.error {
    color: red;
    font-size: 12px;
}

.svg-size{
    width: 20px;
    border: none;
    background: none;
}

.design-btn{
    border: none;
    background: none;
}


.table-content
{
    width: 60%;

}

.date-forms{
    width: 39%;
    border-left: 1px #000 solid;
    padding-left: 10px;
    margin-left: 10px;
}

.checked{
    height: 8px;
}